DJANGO_SECRET_KEY="examplekey"
DJANGO_DEBUG=True
API_URL="http://localhost:8000/api"
TELEGRAM_BOT_TOKEN="not_secure_token"
DJANGO_ALLOWED_HOSTS="*"

# Bot proxy
SOCKS5=False
proxy_url="socks5://user:pass@host:port"
